---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=pueblo,co&term=chinese
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer cDgWS--Wq8vbeyXTd8SdftOPxibU42eh8xDqy6Uu_Fop_Vxb3p9eirdR4pUTvVe9Q7L7uSurkqxUXNgG_NmMAKY5q9r6oXxhCZ5NfPfYK-ncSCdtQFy5Gt3u99ekZXYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - 4048128482624d9d
      Ratelimit-Dailylimit:
      - '500.0'
      Ratelimit-Remaining:
      - '487.0'
      X-Routing-Service:
      - routing-main--useast1-74f644dc4b-cnn4p; site=public_api_v3
      Ratelimit-Resettime:
      - '2024-01-16T00:00:00+00:00'
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-176-91-useast1bprod
      X-Extlb:
      - 10-65-176-91-useast1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "Qw_uhSFipIJUTOq3UKCysg", "alias": "lin-express-chinese-restaurant-pueblo",
        "name": "Lin Express Chinese Restaurant", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/63rvNYcu4ST3naL1yUW6Kg/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/lin-express-chinese-restaurant-pueblo?adjust_creative=PWgWliVvZTsMY1f4GYeWPw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=PWgWliVvZTsMY1f4GYeWPw",
        "review_count": 5, "categories": [{"alias": "chinese", "title": "Chinese"}],
        "rating": 5.0, "coordinates": {"latitude": 38.297122, "longitude": -104.607533},
        "transactions": [], "location": {"address1": "132 W 29th St", "address2":
        null, "address3": "", "city": "Pueblo", "zip_code": "81008", "country": "US",
        "state": "CO", "display_address": ["132 W 29th St", "Pueblo, CO 81008"]},
        "phone": "+17195429126", "display_phone": "(719) 542-9126", "distance": 4305.436918946747},
        {"id": "kQxM1xlaZfQmXpKaqMTNnw", "alias": "wonderful-bistro-pueblo", "name":
        "Wonderful Bistro", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/HqKiK_Ju61fC4nSFq_fgHg/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/wonderful-bistro-pueblo?adjust_creative=PWgWliVvZTsMY1f4GYeWPw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=PWgWliVvZTsMY1f4GYeWPw",
        "review_count": 98, "categories": [{"alias": "chinese", "title": "Chinese"}],
        "rating": 4.0, "coordinates": {"latitude": 38.319366, "longitude": -104.616623},
        "transactions": ["delivery"], "price": "$$", "location": {"address1": "4602
        N Elizabeth St", "address2": "Ste 120", "address3": "", "city": "Pueblo",
        "zip_code": "81008", "country": "US", "state": "CO", "display_address": ["4602
        N Elizabeth St", "Ste 120", "Pueblo, CO 81008"]}, "phone": "+17195440233",
        "display_phone": "(719) 544-0233", "distance": 6633.118745934346}, {"id":
        "TKC7xro_LZOG08-wbzeCcw", "alias": "china-lantern-pueblo", "name": "China
        Lantern", "image_url": "https://s3-med[...]
