---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?hour=16&q=35.090328%20-92.441559
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Key:
      - 3f4cbd4342234875b45230326241201
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999961'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 01/17/2024 20:04:15
      Cdn-Edgestorageid:
      - '1067'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - e0ca6dee999be5cd236ec974528dad4e
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Conway","region":"Arkansas","country":"United
        States of America","lat":35.09,"lon":-92.44,"tz_id":"America/Chicago","localtime_epoch":1705521815,"localtime":"2024-01-17
        14:03"},"current":{"last_updated_epoch":1705521600,"last_updated":"2024-01-17
        14:00","temp_c":1.1,"temp_f":34.0,"is_day":1,"condition":{"text":"Partly cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"wind_mph":11.9,"wind_kph":19.1,"wind_degree":210,"wind_dir":"SSW","pressure_mb":1025.0,"pressure_in":30.27,"precip_mm":0.0,"precip_in":0.0,"humidity":33,"cloud":25,"feelslike_c":-2.9,"feelslike_f":26.8,"vis_km":16.0,"vis_miles":9.0,"uv":2.0,"gust_mph":16.3,"gust_kph":26.3},"forecast":{"forecastday":[{"date":"2024-01-17","date_epoch":1705449600,"day":{"maxtemp_c":2.8,"maxtemp_f":37.1,"mintemp_c":-11.2,"mintemp_f":11.9,"avgtemp_c":-5.4,"avgtemp_f":22.3,"maxwind_mph":9.6,"maxwind_kph":15.5,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":59,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"uv":3.0},"astro":{"sunrise":"07:17
        AM","sunset":"05:23 PM","moonrise":"11:19 AM","moonset":"No moonset","moon_phase":"Waxing
        Crescent","moon_illumination":37,"is_moon_up":1,"is_sun_up":0},"hour":[{"time_epoch":1705528800,"time":"2024-01-17
        16:00","temp_c":2.2,"temp_f":35.9,"is_day":1,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"wind_mph":9.6,"wind_kph":15.5,"wind_degree":191,"wind_dir":"SSW","pressure_mb":1022.0,"pressure_in":30.17,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":35,"cloud":0,"feelslike_c":-1.6,"feelslike_f":29.2,"windchill_c":-1.6,"windchill_f":29.2,"heatindex_c":2.2,"heatindex_f":35.9,"dewpoint_c":-11.0,"dewpoint_f":12.2,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":12.2,"gust_kph":19.7,"uv":2.0,"short_rad":540.2,"diff_rad":78.66}]}]}}'
  recorded_at: Wed, 17 Jan 2024 20:04:15 GMT
recorded_with: VCR 6.2.0
