---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?hour=16&q=35.090328%20-92.441559
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Key:
      - 3f4cbd4342234875b45230326241201
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999986'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 01/16/2024 23:21:57
      Cdn-Edgestorageid:
      - '1067'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - cd3695b2de81d7f1f877ef27709dad00
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Conway","region":"Arkansas","country":"United
        States of America","lat":35.09,"lon":-92.44,"tz_id":"America/Chicago","localtime_epoch":1705447278,"localtime":"2024-01-16
        17:21"},"current":{"last_updated_epoch":1705446900,"last_updated":"2024-01-16
        17:15","temp_c":-6.1,"temp_f":21.0,"is_day":1,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"wind_mph":8.1,"wind_kph":13.0,"wind_degree":340,"wind_dir":"NNW","pressure_mb":1029.0,"pressure_in":30.39,"precip_mm":0.0,"precip_in":0.0,"humidity":43,"cloud":0,"feelslike_c":-10.9,"feelslike_f":12.5,"vis_km":16.0,"vis_miles":9.0,"uv":2.0,"gust_mph":8.8,"gust_kph":14.1},"forecast":{"forecastday":[{"date":"2024-01-16","date_epoch":1705363200,"day":{"maxtemp_c":-3.6,"maxtemp_f":25.6,"mintemp_c":-12.7,"mintemp_f":9.2,"avgtemp_c":-9.3,"avgtemp_f":15.3,"maxwind_mph":10.3,"maxwind_kph":16.6,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":56,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"uv":3.0},"astro":{"sunrise":"07:18
        AM","sunset":"05:22 PM","moonrise":"10:51 AM","moonset":"11:34 PM","moon_phase":"Waxing
        Crescent","moon_illumination":26,"is_moon_up":1,"is_sun_up":0},"hour":[{"time_epoch":1705442400,"time":"2024-01-16
        16:00","temp_c":-4.0,"temp_f":24.8,"is_day":1,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"wind_mph":6.7,"wind_kph":10.8,"wind_degree":291,"wind_dir":"WNW","pressure_mb":1028.0,"pressure_in":30.37,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":32,"cloud":0,"feelslike_c":-8.4,"feelslike_f":16.9,"windchill_c":-8.4,"windchill_f":16.9,"heatindex_c":-4.0,"heatindex_f":24.8,"dewpoint_c":-17.9,"dewpoint_f":-0.3,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":7.9,"gust_kph":12.7,"uv":2.0,"short_rad":530.96,"diff_rad":106.86}]}]}}'
  recorded_at: Tue, 16 Jan 2024 23:21:57 GMT
recorded_with: VCR 6.2.0
