---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=5&q=39.746%20-104.99373
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Key:
      - 3f4cbd4342234875b45230326241201
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999996'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 01/15/2024 06:13:06
      Cdn-Edgestorageid:
      - '871'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 881f5367ce8abedf14352fce7dfa6301
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Denver","region":"Colorado","country":"United
        States of America","lat":39.75,"lon":-104.99,"tz_id":"America/Denver","localtime_epoch":1705299148,"localtime":"2024-01-14
        23:12"},"current":{"last_updated_epoch":1705298400,"last_updated":"2024-01-14
        23:00","temp_c":-14.6,"temp_f":5.7,"is_day":0,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":6.9,"wind_kph":11.2,"wind_degree":340,"wind_dir":"NNW","pressure_mb":1006.0,"pressure_in":29.71,"precip_mm":0.0,"precip_in":0.0,"humidity":68,"cloud":75,"feelslike_c":-19.3,"feelslike_f":-2.7,"vis_km":16.0,"vis_miles":9.0,"uv":1.0,"gust_mph":11.4,"gust_kph":18.4},"forecast":{"forecastday":[{"date":"2024-01-14","date_epoch":1705190400,"day":{"maxtemp_c":-11.8,"maxtemp_f":10.7,"mintemp_c":-20.0,"mintemp_f":-3.9,"avgtemp_c":-16.4,"avgtemp_f":2.4,"maxwind_mph":6.3,"maxwind_kph":10.1,"totalprecip_mm":0.23,"totalprecip_in":0.01,"totalsnow_cm":0.08,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":76,"daily_will_it_rain":1,"daily_chance_of_rain":81,"daily_will_it_snow":0,"daily_chance_of_snow":36,"condition":{"text":"Light
        freezing rain","icon":"//cdn.weatherapi.com/weather/64x64/day/311.png","code":1198},"uv":2.0},"astro":{"sunrise":"07:20
        AM","sunset":"04:58 PM","moonrise":"09:50 AM","moonset":"09:04 PM","moon_phase":"Waxing
        Crescent","moon_illumination":9,"is_moon_up":1,"is_sun_up":0},"hour":[{"time_epoch":1705215600,"time":"2024-01-14
        00:00","temp_c":-19.0,"temp_f":-2.2,"is_day":0,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":4.0,"wind_kph":6.5,"wind_degree":42,"wind_dir":"NE","pressure_mb":1029.0,"pressure_in":30.39,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":79,"cloud":37,"feelslike_c":-24.7,"feelslike_f":-12.5,"windchill_c":-24.7,"windchill_f":-12.5,"heatindex_c":-19.0,"heatindex_f":-2.2,"dewpoint_c":-21.8,"dewpoint_f":-7.3,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":5.1,"gust_kph":8.3,"uv":1.0},{"time_epoch":1705219200,"time":"2024-01-14
        01:00","temp_c":-19.1,"temp_f":-2.4,"is_day":0,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":5.1,"wind_kph":8.3,"wind_degree":30,"wind_dir":"NNE","pressure_mb":1029.0,"pressure_in":30.38,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":80,"cloud":54,"feelslike_c":-24.9,"feelslike_f":-12.[...]
